* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Poppins;
  font-size: 62.5%;
}

h1 {
  position: relative;
  top: 15vh;
  width: 100%;
  text-align: center;
  font-family: "Radio Canada Big";
  font-size: 5.5rem;
  color: white;
  z-index: 1;
}

#banner {
  height: 40vh;
  width: 90vw;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  z-index: 0;
}

.main-hr {
  margin: 29.25vh auto; 
  width: 90vw;
  border: 0.25px solid red;
}

form {
  position: absolute;
  top: 47vh;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  max-width: 650px;
  font-size: 1.7rem;
  box-shadow: 0 10px 27px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2.5%;
  padding: 1rem;
  margin-bottom: 4rem;
}

fieldset {
  border: none;
  margin-bottom: 2.5%;
}

legend {
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: -2px;
  margin-bottom: 1rem;
}

.section-hr {
  width: 100%;
  margin-bottom: 1rem;
}

select {
  height: 2.5rem;
  width: 10rem;
  border-radius: 7px;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

#lang {
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.info-input {
  width: 90%;
  height: 4rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding-left: 7px;
  border: none;
  border-radius: 5px;
  background-color: #f2f0f0;
  font-size: 1.525rem;
}

#submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35%;
  height: 4rem;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 1.7rem;
  box-shadow: 15px 10px 18px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.5s;
}

#submit:hover {
  background-color: gray;
}

#github {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    transition-duration: 0.1s;
}

#github:hover{
    transform: scale(1.025);
}

/*Media Queries*/
@media (max-width: 440px) {
  h1 {
    font-size: 4rem;
    top: 20vh;
  }
  
  .info-input {
    width: 95%;
  }
  
  #github {
    height: 45px;
    width: 45px;
  }
}
